.p-timeline-event-content {
    text-align: left !important;
}

.p-button-timeline {
    font-size: 0.3rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.p-button .pi-check {
    font-size: 2.5em;
    font-weight: bold;
}

