.p-timeline-event-content {
    text-align: left !important;
}

.p-button-timeline {
    font-size: 0.3rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.p-button .pi-check {
    font-size: 2.5em;
    font-weight: bold;
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.p-timeline-event-content,
.p-timeline-event-opposite {
    line-height: 1;
}

@media screen and (max-width: 960px) {
    .customized-timeline .p-timeline-event:nth-child(even) {
        flex-direction: row !important;
    }
    .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
        text-align: left !important;
    }
    .customized-timeline .p-timeline-event-opposite {
        flex: 0;
    }
    .customized-timeline .p-card {
        margin-top: 1rem;
    }
}

.card-sub-title {
    color: black !important;
}

.card-description {
    padding-left: 0px !important;
    margin-left: 0.5rem !important;
}